
h1{ 
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: rgb(0, 89, 255);
    margin-top: 25px;
    margin-bottom: 25px;
    
    }
    
    #pantalla{
    width: 700px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    
    }

    img{
      height: 200px;
    }

    .card-body{
      background: #ccc;
    }
  